* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
:root {
    --primary: rgba(5, 41, 107, 1);
}
img {
    max-width: 100%;
}
body {
    background: linear-gradient(to right, #f8f9fc, #e0ecff);
    font-family: "Inter", sans-serif;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.hv-100 {
    height: 100vh;
}
.text-center {
    text-align: center;
}
.start-btn {
  background: rgb(13, 97, 255);
  border: 0;
  color: #fff;
  font-size: 22px;
  min-height: 48px;
  min-width: 145px;
  border-radius: 25px;
  gap: 8px;
  margin-top: 38px;
  transition: all 0.3s ease;
}
.start-btn img {
  width: 18px;
}
.btn {
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
.w-100 {
    width: 100%;
}
.header {
  background: var(--primary);
  padding: 12px 0;
}
.header img {
    width: 180px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.current-step {
  width: 100%;
  text-align: center;
  color: rgb(40, 62, 84);
}
.current-step p {    
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.current-step-value {
  box-shadow: 0 3px 6px rgba(128, 128, 128, 0.12);
  background: #fff;
  border-radius: 12px;
  color: rgb(40, 62, 84);
  font-weight: 600;
  font-size: 22px;
  padding: 8px 5px;
}
.refresh-icon {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.step-time-sec {
    margin-top: 45px;
}

#chartContainer {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-top: 35px;
}
#timer {
    display: none !important;
}
.refresh_img {
  width: 50px;
}
.refresh_img {
  animation: spin 3s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
    .step-time-sec {
  flex-wrap: wrap;
  justify-content: center;
}
.current-step {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.current-step p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}
.step-time-sec {
  margin-top: 0;
}
.refresh-icon {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}
.refresh-icon, .current-step-value {
  width: 55%;
  justify-content: center;
  display: flex !important;
}
.refresh-icon {
    width: 100%;
    padding-left: 45%;
}
.refresh_img {
  width: 25px;
}
.container {
  width: 100%;
  padding: 15px;
  max-width: 100%;
}

}